## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x= 10
print(x)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(x)

10

4) Crear una variable que contenga tu nombre

In [5]:
nombre= "sebastian"

str

5) Crear una variable que contenga un número complejo

In [8]:
numero_complejo = 2 + 2j

complex

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
import math
pi = round(math.pi, 4)

#tambien pi = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
#no es lo mismo 
var_true_str="True"
var_true = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [19]:
type(var_true)
type(var_true_str)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
suma = 2 + 2.4

11) Realizar una operación de suma de números complejos

In [22]:
complejo_A = 1 + 3j
complejo_B = 3 + 1j
complejo_A+complejo_B;

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
1+ (2+3j)

(3+3j)

13) Realizar una operación de multiplicación

In [24]:
2*2

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
res=2**8
print(res)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
cociente = 27/4
print (cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
res16 = int(cociente) 
print(res16)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [36]:
res17 = 27%4
print(res17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
res18 = 4*res16 + res17;
print(res18)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
res19 = "sebas"+ "123"

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [46]:
#por la coma 
resp22 = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [50]:
res23 = 3 
res23 -= 1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [51]:
1<<2
#numero en decimales es 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [53]:
#2 + '2' 
# por que no son del mismo tipo
# si fueran del mismo tipo se realizaria una suma o concatenacion dependiendo del tipo que sean ambas

26) Realizar una operación válida entre valores de tipo entero y string

In [57]:
nombre= "sebastian"
edad = 25

nombre_edad = "nombre: "+nombre + "/ edad:"+str(edad)
print(nombre_edad)

nombre: sebastian/ edad:25